@import "_mixins";
@import "_vars";

.rem-init(16);
.grid-init(12, 30);
/**
 * ksmithut.github.com style guide
 */

// lets make this viewport work correctly on *most* devices
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

html, body {
  margin: 0;
  padding: 0;
  color: @black;
  font-family: @sansSerif;
}

// LAYOUT
// ======
.container { .container(); }
.row { .row(); }

.main-content {
  .col();
  .col-md(9);
}
.sidebar {
  .col();
  .col-md(3);
}

// TEXT
// ====
h1 { .rem(font-size, 32); }
h2 { .rem(font-size, 24); }
h3 { .rem(font-size, 18); }
h4 { .rem(font-size, 16); }
h5 { .rem(font-size, 13); }
h6 { .rem(font-size, 10); }
h1, h2, h3, h4, h5, h6, {
  font-weight: 600;
}

p {
  .rem(font-size, 16);
  font-weight: 200;
}
strong { font-weight: 600 }

code {
  background: @black;
  color: @white;
  font-family: @monospace;
  display: block;
  .rem(border-radius, 5);
  @padding: 10;
  .rem(padding-top, @padding);
  .rem(padding-right, @padding);
  .rem(padding-bottom, @padding);
  .rem(padding-left, @padding);
}

blockquote {
  color: @gray;
  border-left-color: @blue;
  border-left-style: solid;
  .rem(border-left-width, 8);
  margin-left: 0;
  .rem(padding-left, 16);
}
