@import "_mixins";
@import "_vars";

.rem-init(16);
.grid-init(12, 30);
/**
 * ksmithut.github.com style guide
 */

// lets make this viewport work correctly on *most* devices
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

html, body {
  margin: 0;
  padding: 0;
  color: @black;
  font-family: @sansSerif;
  background-color: @white;
}

* {
  box-sizing: border-box;
}

// LAYOUT
// ======
.container { .container(); }
.row { .row(); }

.main-content {
  .col();
  .col-md(9);
}
.sidebar {
  .col();
  .col-md(3);
}

// TEXT
// ====
h1 { .rem(font-size, 32); }
h2 { .rem(font-size, 24); }
h3 { .rem(font-size, 18); }
h4 { .rem(font-size, 16); }
h5 { .rem(font-size, 13); }
h6 { .rem(font-size, 10); }
h1, h2, h3, h4, h5, h6, {
  font-weight: 600;
}

p, label, input, textarea, select, ul, ol {
  .rem(font-size, 16);
  .rem(line-height, 26);
  font-weight: 200;
}
strong { font-weight: 600 }

a {
  color: @blue;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover { color: darken(@blue, 15); }
}

code {
  background: @black;
  color: @white;
  font-family: @monospace;
  display: block;
  overflow: scroll;
  .rem(border-radius, 5);
  .rem(padding, 16);
}

blockquote {
  color: @gray;
  border-left-color: @blue;
  border-left-style: solid;
  .rem(border-left-width, 8);
  margin-left: 0;
  .rem(padding-left, 16);
}

ul, ol {
  .rem(padding-left, 20);
}

form {
  .row();
}

.form-group {
  .col();
  position: relative;
  .rem(padding-top, 30);
}

label {
  opacity: 1;
  display: block;
  position: absolute;
  .rem(top, 6);
  .rem(left, 16);
  color: @gray;
  font-weight: 600;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: top, opacity, color;
}

.js-hide-label label {
  opacity: 0;
  .rem(top, 10);
}

.js-highlight-label label {
  color: @blue;
}

.form-control {
  display: block;
  margin: 0;
  border: 0;
  background: white;
  width: 100%;
  .rem(padding, 5);
  box-shadow: inset 0 0 3px 0 @gray;
  .rem(border-radius, 5);
}
textarea {
  max-width: 100%;
  min-width: 100%;
}




