@import "_mixins";
@import "_vars";

html, body { font-size: 16px; }
.grid-init(12, 30);
/**
 * ksmithut.github.com style guide
 */

// lets make this viewport work correctly on *most* devices
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

html, body {
  margin: 0;
  padding: 0;
  font-family: @sansSerif;
  background-color: @white;
}

* {
  box-sizing: border-box;
}

// LAYOUT
// ======
.container { .container(); }
.row { .row(); }

.main-content {
  .col();
  .col-md(9);
}
.sidebar {
  .col();
  .col-md(3);
}

// TEXT
// ====
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 13px; }
h6 { font-size: 10px; }
h1, h2, h3, h4, h5, h6, {
  font-weight: 600;
}

p, label, input, textarea, select, ul, ol {
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
  color: @black;
}
strong { font-weight: 600 }

a {
  color: @blue;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover { color: darken(@blue, 15); }
}

code {
  background: @black;
  color: @white;
  font-family: @monospace;
  display: block;
  overflow: scroll;
  border-radius: 5px;
  padding: 16px;
}

blockquote {
  color: @gray;
  border-left: 8px solid @blue;
  margin-left: 0;
  margin-right: 0;
  padding: 0 16px;

  & p { color: @gray; }
}

ul, ol {
  padding-left: 20px;
}

// Forms
// =====
form {
  .row();
}

.form-group {
  .col();
  position: relative;
  padding-top: 30px;
}

label {
  opacity: 1;
  display: block;
  position: absolute;
  top: 6px;
  left: 16px;
  color: @gray;
  font-weight: 600;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: top, opacity, color;

  &.checkbox,
  &.radio {
    position: static;
    font-weight: 200;
    cursor: pointer;
    margin-bottom: 5px;

    & input {
      margin-right: 10px;
    }
  }
}

.js-hide-label label {
  opacity: 0;
  top: 10px;
}

.js-highlight-label label {
  color: @blue;
}

.form-control {
  display: block;
  margin: 0;
  border: 0;
  background: white;
  width: 100%;
  padding: 5px;
  box-shadow: inset 0 0 3px 0 @gray;
  border-radius: 5px;
  height: 36px;

  select& {
    box-shadow: 0 0 3px 1px @light-gray;
    padding-top: 10px;
  }

  textarea& {
    height: auto;
  }
}
textarea {
  max-width: 100%;
  min-width: 100%;
  font-family: @sansSerif;
  font-weight: 400;
}


