html, body
  background $white
  min-height 100%

html
  position relative

body
  height 100%

body
  padding-bottom 75px

a
  color $blue
  text-decoration none
  &:hover
    color lighten($blue, 10)

hr
  border 0
  border-top 1px solid $black

ul, ol
  clearfix()
  margin-bottom 0
