.page-header
  background-color $black
  padding-top $halfGutter
  padding-bottom $halfGutter
  border-bottom 8px solid $blue

.logo
  display inline-block
  width 25px
  height 25px
  img
    width 100%
    height auto

.main-nav
  font-size 14px
  text-align center
  float right
  height 25px

.nav-item
  text-decoration none
  padding 0 15px
  line-height 25px
  height 100%
  display inline-block
  color $white
  &:hover
    color darken($white, 10%)

+minWidth($breakpoints['sm'])
  .logo
    width 50px
    height 50px
  .main-nav
    height 50px
    font-size 18px
  .nav-item
    line-height 50px
    padding 0 30px
