
body {
  padding-top: 70px;
}

.navbar-collapse {
  position: absolute;
  bottom: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

@media (max-width: 768px) {
  body {
    padding: 0 0 70px;
  }
  #main-navbar {
    top: auto;
    bottom: 0;
    border-width: 0 0 1px;
    margin-bottom: 0;
  }
}
