.page-header
  background-color $black
  padding-top $halfGutter
  padding-bottom $halfGutter
  border-bottom 8px solid $blue

.logo
  display inline-block
  width 50px
  height 50px

.main-nav
  font-size 22px
  text-align center
  float right
  height 50px

.nav-item
  text-decoration none
  padding 0 30px
  line-height 50px
  height 100%
  display inline-block
  color $white
  &:hover
    color darken($white, 10%)
