.list
  padding-left 0
  list-style none

.list-item
  margin-bottom 15px
  border-bottom 5px solid $blue
  h4
    margin 0
  h3
    margin 5px 0
  a
    display block
    color $black
    text-decoration none

.date
  margin: 10px 0
  background-color $gray
  color $white
  display inline-block
  padding 6px 10px
  border-radius 10px

.pagination
  list-style none
  .prev, .next
    float left
    margin 0 10px
  .prev
    a::before
      content '< '
  .next
    a::after
      content ' >'
